doctype html
html
  head
    meta(charset='utf-8')
    meta(name='app:accounts' content=JSON.stringify(accounts))
    link(rel='stylesheet' href='assets/style.css')
body
  #app
  script(src='assets/script.js')
