@mixin antialias {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin clearfix {
  &:after {
    content: '';
    display: block;
    clear: both;
    zoom: 1;
  }
}
