/*
 * Color paletter
 */

$accent: #35a;
$black: #111;
$primary: #3f51b5;
$line-color: rgba($primary, .1);
$gray-text: #708090;
$text-color: #404050;

/*
 * Dimensions
 */

$nav-height: 56px;
$sidebar-width: 256px;

/*
 * Fonts
 */

$sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

/*
 * Ghetto modular scale
 */

$fs0: 14px;
$ms: 1.2;
$fs-1: $fs0 / $ms;
$fs1: $fs0 * $ms;
$fs2: $fs1 * $ms;
$fs3: $fs2 * $ms;

$normal: $fs0;
$small: $fs-1;
