@import '../../node_modules/normalize.css/normalize';

$sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$accent: #35a;
$black: #111;
$line-color: rgba(#8090a0, .1);
$gray-text: #708090;
$text-color: #404050;
$nav-height: 56px;
$sidebar-width: 256px;
$small: 12px;

@mixin antialias {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin clearfix {
  &:after {
    content: '';
    display: block;
    clear: both;
    zoom: 1;
  }
}

html, body, #app {
  height: 100%;
}

body {
  font-family: $sans-serif;
  font-size: 14px;
  color: $text-color;
  line-height: 1.5;
  @include antialias;
}

* {
  box-sizing: border-box;
}

.root-layout {
  position: relative;
  height: 100%;

  > .top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $nav-height;
  }

  > .side {
    position: absolute;
    top: $nav-height;
    left: 0;
    bottom: 0;
    width: $sidebar-width;
    padding: 16px;
  }

  > .body {
    position: absolute;
    top: $nav-height;
    left: $sidebar-width;
    right: 0;
    bottom: 0;
    padding: 16px;
  }

  > .side,
  > .body {
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.main-nav {
  border-bottom: solid 1px $line-color;
  height: $nav-height;
  line-height: $nav-height;

  > .center {
    text-align: center;
  }

  > .center > input {
    position: relative;
    top: -1px;
  }
}

.main-search {
  background: $line-color;
  border: 0;
  padding: 0 12px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  width: 100%;
  max-width: 400px;
  border-radius: 4px;
  font-size: $small;
  font-weight: bold;
  box-shadow: 1px 1px 0 rgba($text-color, .15);

  &:placeholder {
    font-weight: normal;
  }

  &:focus {
    background: white;
    outline: 0;
    box-shadow: 0 0 1px $accent, 0 0 4px rgba($accent, .2);
  }
}

.main-sidebar {
  border-right: solid 1px $line-color;
}

.accounts-list {
  &, > li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  > li:first-child > * {
    margin-top: 0;
  }
}

.account-link {
  display: block;
  text-decoration: none;

  &, &:visited {
    color: $text-color;
    @include clearfix;
  }

  > .label,
  > .balance {
    white-space: nowrap;
    height: 24px;
    line-height: 24px;
    text-overflow: ellipsis;
    pointer-events: none;
  }

  > .label {
    float: left;
    max-width: 60%;
  }

  > .balance {
    float: right;
    font-size: .86em;
    font-weight: normal;
    color: $gray-text;
    max-width: 60%;
    text-align: right;
  }
}

.account-link.-level-1 {
  font-weight: bold;
  margin-top: 1.5em;

  &, &:visited {
    color: $black;
  }
}

.account-link.-level-3 {
  > .label:before {
    content: '-';
    margin-right: .5em;
  }
}

.register-table {
  width: 100%;

  > thead > tr > th {
    font-weight: bold;
    text-align: left;
  }

  > * > tr > *:last-child {
    text-align: right;
  }
}
